<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.Support" version="2.1.0" targetFramework="monoandroid71" />
  <package id="Acr.UserDialogs" version="7.0.4" targetFramework="monoandroid81" requireReinstallation="true" />
  <package id="AndHUD" version="1.4.1" targetFramework="monoandroid81" />
  <package id="Com.Airbnb.Xamarin.Forms.Lottie" version="2.7.1" targetFramework="monoandroid81" />
  <package id="DLToolkit.Forms.Controls.FlowListView" version="2.0.11" targetFramework="monoandroid81" />
  <package id="FastAndroidCamera" version="2.0.0" targetFramework="monoandroid71" />
  <package id="FrazzApps.Xamarin.Forms.AppRater" version="1.2.0" targetFramework="monoandroid71" />
  <package id="Humanizer" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.af" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.ar" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.bg" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.bn-BD" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.cs" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.da" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.de" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.el" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.es" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.fa" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.fi-FI" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.fr" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.fr-BE" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.he" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.hr" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.hu" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.id" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.it" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.ja" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.lv" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.nb" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.nb-NO" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.nl" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.pl" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.pt" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.ro" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.ru" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.sk" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.sl" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.sr" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.sr-Latn" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.sv" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.tr" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.uk" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.uz-Cyrl-UZ" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.uz-Latn-UZ" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.vi" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.zh-CN" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.zh-Hans" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Humanizer.Core.zh-Hant" version="2.6.2" targetFramework="monoandroid81" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="monoandroid71" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="monoandroid81" />
  <package id="Microsoft.NETCore.Platforms" version="2.2.1" targetFramework="monoandroid81" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="monoandroid71" />
  <package id="modernhttpclient" version="2.4.2" targetFramework="monoandroid71" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="monoandroid81" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="monoandroid81" />
  <package id="OxyPlot.Core" version="2015.1.708-alpha" targetFramework="monoandroid71" />
  <package id="OxyPlot.Xamarin.Android" version="1.1.0-unstable0011" targetFramework="monoandroid71" />
  <package id="OxyPlot.Xamarin.Forms" version="1.1.0-unstable0011" targetFramework="monoandroid71" />
  <package id="PCLStorage" version="1.0.2" targetFramework="monoandroid71" />
  <package id="Plugin.CurrentActivity" version="2.1.0.4" targetFramework="monoandroid81" />
  <package id="Plugin.DeviceOrientation" version="1.0.7" targetFramework="monoandroid80" />
  <package id="Plugin.Fingerprint" version="1.4.9" targetFramework="monoandroid81" />
  <package id="Plugin.InAppBilling" version="2.0.0" targetFramework="monoandroid81" />
  <package id="Plugin.Multilingual" version="1.0.2" targetFramework="monoandroid80" />
  <package id="Plugin.Permissions" version="3.0.0.12" targetFramework="monoandroid81" />
  <package id="Plugin.Share" version="7.1.1" targetFramework="monoandroid80" />
  <package id="Plugin.SpeechRecognition" version="1.0.0" targetFramework="monoandroid81" />
  <package id="Rg.Plugins.Popup" version="1.1.5.188" targetFramework="monoandroid81" />
  <package id="SlideOverKit" version="2.1.6.2" targetFramework="monoandroid81" />
  <package id="Splat" version="7.0.8" targetFramework="monoandroid81" />
  <package id="System.AppContext" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Collections" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Console" version="4.3.1" targetFramework="monoandroid81" />
  <package id="System.Diagnostics.Contracts" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Globalization" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Globalization.Calendars" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.IO" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Linq" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="monoandroid81" />
  <package id="System.Net.Primitives" version="4.3.1" targetFramework="monoandroid81" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Reactive" version="4.0.0" targetFramework="monoandroid81" />
  <package id="System.Reactive.Core" version="4.0.0" targetFramework="monoandroid81" />
  <package id="System.Reactive.Interfaces" version="4.0.0" targetFramework="monoandroid81" />
  <package id="System.Reactive.Linq" version="4.0.0" targetFramework="monoandroid81" />
  <package id="System.Reactive.PlatformServices" version="4.0.0" targetFramework="monoandroid81" />
  <package id="System.Reflection" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Runtime" version="4.3.1" targetFramework="monoandroid81" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="monoandroid81" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="monoandroid81" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="monoandroid80" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="monoandroid80" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="monoandroid81" />
  <package id="System.Threading" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="monoandroid81" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="monoandroid80" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="monoandroid71" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="monoandroid71" />
  <package id="Xam.Plugin.Connectivity" version="3.2.0" targetFramework="monoandroid81" />
  <package id="Xam.Plugin.DeviceInfo" version="4.1.1" targetFramework="monoandroid81" />
  <package id="Xam.Plugin.PushNotification" version="1.2.5-beta" targetFramework="monoandroid71" developmentDependency="true" />
  <package id="Xam.Plugin.SimpleColorPicker" version="1.0.4" targetFramework="monoandroid81" />
  <package id="Xam.Plugins.Forms.DeviceOrientation" version="1.0.1" targetFramework="monoandroid71" />
  <package id="Xam.Plugins.Notifier" version="3.0.1" targetFramework="monoandroid81" />
  <package id="Xam.Plugins.Settings" version="3.1.1" targetFramework="monoandroid81" />
  <package id="Xam.Plugins.TextToSpeech" version="4.0.0.7" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Core.Common" version="26.1.0" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Lifecycle.Common" version="26.1.0" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Lifecycle.Runtime" version="26.1.0" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="28.0.0.1" targetFramework="monoandroid81" requireReinstallation="true" />
  <package id="Xamarin.Android.Support.Annotations" version="28.0.0.1" targetFramework="monoandroid81" requireReinstallation="true" />
  <package id="Xamarin.Android.Support.Compat" version="28.0.0.1" targetFramework="monoandroid81" requireReinstallation="true" />
  <package id="Xamarin.Android.Support.Core.UI" version="28.0.0.1" targetFramework="monoandroid81" requireReinstallation="true" />
  <package id="Xamarin.Android.Support.Core.Utils" version="28.0.0.1" targetFramework="monoandroid81" requireReinstallation="true" />
  <package id="Xamarin.Android.Support.CustomTabs" version="28.0.0.1" targetFramework="monoandroid81" requireReinstallation="true" />
  <package id="Xamarin.Android.Support.Design" version="28.0.0.1" targetFramework="monoandroid81" requireReinstallation="true" />
  <package id="Xamarin.Android.Support.Exif" version="28.0.0.1" targetFramework="monoandroid81" requireReinstallation="true" />
  <package id="Xamarin.Android.Support.Fragment" version="28.0.0.1" targetFramework="monoandroid81" requireReinstallation="true" />
  <package id="Xamarin.Android.Support.Media.Compat" version="28.0.0.1" targetFramework="monoandroid81" requireReinstallation="true" />
  <package id="Xamarin.Android.Support.Transition" version="28.0.0.1" targetFramework="monoandroid81" requireReinstallation="true" />
  <package id="Xamarin.Android.Support.v4" version="28.0.0.1" targetFramework="monoandroid81" requireReinstallation="true" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="28.0.0.1" targetFramework="monoandroid81" requireReinstallation="true" />
  <package id="Xamarin.Android.Support.v7.CardView" version="28.0.0.1" targetFramework="monoandroid81" requireReinstallation="true" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="28.0.0.1" targetFramework="monoandroid81" requireReinstallation="true" />
  <package id="Xamarin.Android.Support.v7.Palette" version="28.0.0.1" targetFramework="monoandroid81" requireReinstallation="true" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="28.0.0.1" targetFramework="monoandroid81" requireReinstallation="true" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="28.0.0.1" targetFramework="monoandroid81" requireReinstallation="true" />
  <package id="Xamarin.Build.Download" version="0.4.11" targetFramework="monoandroid81" />
  <package id="Xamarin.Essentials" version="1.1.0" targetFramework="monoandroid81" />
  <package id="Xamarin.FFImageLoading" version="2.4.11.982" targetFramework="monoandroid81" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.4.11.982" targetFramework="monoandroid81" />
  <package id="Xamarin.FFImageLoading.Transformations" version="2.4.11.982" targetFramework="monoandroid81" />
  <package id="Xamarin.Forms" version="3.6.0.293080" targetFramework="monoandroid81" />
  <package id="Xamarin.Forms.InputKit" version="3.0.11" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Ads" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Ads.Lite" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Base" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Basement" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Clearcut" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Gass" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Gcm" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Iid" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Maps" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Places" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="Xamarin.GooglePlayServices.Tasks" version="60.1142.1" targetFramework="monoandroid81" />
  <package id="XLabs.Cryptography" version="2.0.5782" targetFramework="monoandroid81" />
  <package id="ZXing.Net.Mobile" version="2.4.1" targetFramework="monoandroid81" />
  <package id="ZXing.Net.Mobile.Forms" version="2.4.1" targetFramework="monoandroid81" />
</packages>