<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>OOTT</string>
	<key>CFBundleName</key>
	<string>NL.HNOGames.OOTT.iOS</string>
	<key>CFBundleIdentifier</key>
	<string>nl.hnogames.oott</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<string>YES</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
	<false/>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs access to photo library for storing attachments</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs access to location to default the country and dialing code during sign up.</string>
	<key>NSCameraUsageDescription</key>
	<string>Can we use your camera</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Can we use your calendar</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Can we use your location for geofences</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Can we use your location for geofences</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Can we use your calendar</string>
	<key>NFCReaderUsageDescription</key>
	<string>Toggle switches via NFC.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Enable speech recognition in the app</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need the microphone for speech recognition</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Need your face to unlock Domoticz.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>You can set switches automaticly on Bluetooth connections</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>You can set switches automaticly on Bluetooth connections</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>XSAppIconAssets</key>
	<string>Resources/Media.xcassets/AppIcons.appiconset</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>XSLaunchImageAssets</key>
	<string>Resources/Media.xcassets/LaunchImages.launchimage</string>
	<key>UILaunchStoryboardName</key>
	<string>Launch</string>
	<key>UIMainStoryboardFile</key>
	<string>Launch</string>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.30</string>
	<key>CFBundleVersion</key>
	<string>140</string>
</dict>
</plist>
